h1 {
  color: blue;
}

body {
  text-align: center;   
}

.submit {
  color: white;
  background-color: green;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 30;
  width: 120;
}

.submit:hover {
  color: white;
  background-color: #1b724e;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 30;
  width: 120;
}

.submit_answer {
  position: relative;
  left: -50px;
}

.question_form {
  text-align: center;
  background-color: #cded97;
}

.answer_field {
  width: 300px;
  position: relative;
  left: -50px;
}

.answers {
  position: relative;
  left: 650px;
  text-align: left; 
} 

.question {
  position: relative;
  left: 600px;
  text-align: left;  
}

.answer_separator {
  position: relative;
  left: -700px;
  width: 300px;
}
